<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid">

        <div class="row">

            <div class="col-4"></div>

            <div class="col-12 col-md-4">
                <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
                    <div class="bg-dark p-4">
                        <h5 class="text-body-emphasis h4">Collapsed content</h5>
                        <ul>
                            li
                        </ul>
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>
            </div>

            <div class="col-4"></div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4">
                <div class="card" style="width: 94vw;">
                    <img src="img/cadernoreceita.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Os cookies são uma das receitas mais amadas do mundo por sua combinação
                            perfeita de massa macia, bordas crocantes e gotas de chocolate derretidas. A receita
                            tradicional leva ingredientes simples, como farinha, manteiga, açúcar, ovos e chocolate, mas
                            existem inúmeras variações para agradar todos os gostos. É possível preparar cookies com
                            aveia, castanhas, chocolate branco, caramelo e até versões veganas ou sem glúten</p>
                    </div>
                </div>
                <div class="col-12 col-md-4"></div>
            </div>
        </div>



        <div class="row mb-2">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4">
                <div class="card " style="width: 94vw;">
                    <img src="img/confeitaria.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">No nosso site de receitas de cookie, você encontra uma grande variedade de
                            receitas deliciosas e fáceis de preparar. Compartilhamos desde os tradicionais cookies com
                            gotas de chocolate até versões recheadas, crocantes, veganas e sem glúten. Todas as receitas
                            possuem passo a passo detalhado, dicas de preparo e sugestões para deixar seus cookies ainda
                            mais saborosos. Nosso objetivo é ajudar qualquer pessoa, mesmo sem experiência na cozinha, a
                            fazer cookies caseiros perfeitos de forma simples, prática e divertida.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4"></div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Nome.</label>
                        <input type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Digite seu nome">

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Numero para contato.</label>
                        <input type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Numero de telefone para contato">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Endereço.</label>
                        <input type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Estado/Cidade/Bairro/Rua/Numero">
                    </div>
                    <div class="mb-3">
                        <label for="example" class="form-label">Opçoes de cookie.</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">Chocolate</option>
                            <option value="2">Morango</option>
                            <option value="3">Nozes</option>
                        </select>

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Quantidade de cookies.</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>

                    <button type="submit" class="btn btn-dark">Enviar pedido</button>
                </form>
            </div>
            <div class="col-12 col-md-4"></div>
        </div>
        <footer>
            <div class="row">
                <div class="col-12 col-md-4"></div>
                <div class="col-12 col-md-4 bg-black">
                    <p class="text-center text-white">@2026-Aqui você encontra as melhores receitas !</p>
                </div>
                <div class="col-12 col-md-4"></div>
            </div>
        </footer>


    </div>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>